<a href="javascript:void(0)" data-bind="click: $root.executeMacro, visible: $root.isActive($data)">
  <i class="fas fa-dot-circle" style="color: green" data-bind="style: {color: $root.get_color($data)}"></i>
</a>
